.page.theme_dark {
  --accent-color: var(--text-color-purple, #ff0070);
  --accent-text-color: var(--text-color-purple, #ff0070);
  --accent-bg-color: var(--text-color-purple, #ff0070);
  --bg-color: var(--bg-color-black, #000028);
  --bg-img: url(/images/cover-image-dark.png);
  --bg-text-color: var(--bg-color-purple, #ff0070);
  --highlight-text-color: var(--text-color-black, #000028);
  --hover-color: var(--hover-color-dark, #ff007040);
  --text-color: var(--text-color-pink, #f1b2ce);
  --title-footer-color: var(--text-color-violet, #db00ff);

  --header-rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--text-color-purple, #ff0070);
    --accent-text-color: var(--text-color-purple, #ff0070);
    --accent-bg-color: var(--text-color-purple, #ff0070);
    --bg-color: var(--bg-color-black, #000028);
    --bg-img: url(/images/cover-image-dark.png);
    --bg-text-color: var(--bg-color-purple, #ff0070);
    --highlight-text-color: var(--text-color-black, #000028);
    --hover-color: var(--hover-color-dark, #ff007040);
    --text-color: var(--text-color-pink, #f1b2ce);
    --title-footer-color: var(--text-color-violet, #db00ff);

    --header-rec-visibility: visible;
  }
}
